body {
    align-items: center;
    background-color: #f0f0f0; /* light shade of gray */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Inter,sans-serif;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    transition: background-color 0.5s;
    width: 100%;
}

body.about-me-hover {
    background-color: #31bc31;
}

body.contact-me-hover {
    background-color: #ce7f18;
}

body.portfolio-hover {
    background-color: #e8d90b;
}

body.blog-hover {
    background-color: #41574a;
}

h2 {
    color: transparent;
    font-family: Inter,sans-serif;
    font-size: 2rem;
    text-decoration: none;
    -webkit-text-stroke: 1.5px black;
}

h3 {
    margin-bottom: 2rem;
}

#homepage {
    display: flex;
    align-items: center;
}

.menu-hidden {
    display: none;
}

.menu-shown {
    display: flex;
    margin-block: 0;
}

#menuButton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2rem;
    width: 2rem;
}

#menuButton div {
    height: 0.25rem;
    background-color: #000; /* Change this to the color you want for the lines */
    width: 100%;
}

nav ul {
    display: none;
    flex-direction: column; /* Change the direction of the list items to column */
    justify-content: space-between;
    list-style-type: none;
    margin-block: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    align-items: center;
    background-color: #8b8b8b;
    display: list-item;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    flex: 1;
    font-weight: bold;
    justify-content: center;
    margin: 1px;
    padding: 1px;
    text-align: center;
    width: calc(37rem - 1rem);
}

nav ul li a {
    color: white;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
}

.small-logo-image {
    width: 5%;
    height: auto;
}
.profile-picture {
    height: 9rem;
    width: 9rem;
    margin-right: 2rem;
    border-radius: 50%;
    justify-content: flex-start;
}

section {
    max-width: 600px;
    text-align: center;
    width: 100%;
}

section a {
    display: block;
    margin-bottom: 1rem;
}

#title-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-header h1 {
    margin: 0;
    padding: 0;
}

#title-header h3 {
    color: gray;
    margin: 0;
    padding: 0;
}

.vertical-elements {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: Inter,sans-serif;
    font-size: 2rem;
}

.vertical-elements a {
    color: transparent;
    text-decoration: none;
    -webkit-text-stroke: 1.5px black;
}