body {
    align-items: center;
    background-color: #f0f0f0; /* light shade of gray */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}
#menuButton {
    cursor: pointer;
    display: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}
nav ul li {
    align-items: center;
    background-color: #004800; /* forest green */
    display: flex;
    flex: 1;
    font-weight: bold;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.profile-picture {
    height: 9rem;
    width: 9rem;
}
section {
    max-width: 600px;
    text-align: center;
    width: 100%;
}
@media (max-width: 600px) {
    #menuButton {
        display: block;
    }
    nav ul {
        display: none;
        flex-direction: column;
    }
    nav ul.active {
        display: block;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}